<% if action_name == 'index'%>
  <div class="intro_box">
    <h4>发掘更多的公益需求</h4>
    <p class="explanation">有很多的爱聚用户，他们善于发现。</p>
  </div>
<% end %>

<%= render :partial => '/public/calling',:collection => @callings %>