.bundle
config/database.yml
config/config.yml
config/sphinx.yml
config/oauth/*.yml
config/deploy.rb
config/*.sphinx.conf
db/*.sqlite3
db/migrate/*
db/sphinx/*
log
tmp
REVISION
public/media/
public/json/

*.kpf
*.project
