  <%= render :partial => '/public/comment' ,:collection => @comments %>
  <span><%= '居然还有没人留言?' if @comments.empty? %></span>
    
  <script type="text/javascript">
    function reply_to(username){
	    replyContent = $("#comment_content");
		oldContent = replyContent.val();
		prefix = "@" + username + " ";
		newContent = prefix + oldContent
		replyContent.focus();
		replyContent.val(newContent);
	}
  </script>
