<% @replies = @comments %>
<% @id = "##{@commentable.class.to_s.downcase}_#{@commentable.id}_replies"%>
$('<%= @id%>').html("<%= escape_javascript(render :partial => '/public/reply',:object=> @replies) %>"); 
$(".timeago").each(function(){$(this).html('(' + jQuery.timeago($(this).html()) + ')');$(this).removeClass('timeago')});
$('pre').each(function(index){$(this).html($(this).html().replace(/(http:\/\/|https:\/\/)((\w|=|\?|\.|\/|&|-|!)+)/g, "<a href='$1$2' target='_blank' rel='nofollow'>$1$2</a>"))});