<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<h2>全国地图</h2>
<p>
<% @geos.each do |geo|%>
  <%= link_to geo.name,geo %>
<% end %>
</p>
<div id="map_canvas" style="width:100%;height:420px;clear:both"></div>  

<% content_for :sidebar do -%>  
  
<% end %>

<% content_for :extension do %>
  <%= render :partial => "/public/mark_venue_js" %>
  <script type="text/javascript">
    $(document).ready(function(){
      initialize();
      $('#create_venue').click(mark_latlng);
      $('#cancel_mark').click(cancel_mark);
    });
  </script>
<% end %>  