<h2>所有地区</h2>
<p>
<% @geos.each do |geo|%>
  <%= link_to geo.name,geo %>
<% end %>
</p>

<% content_for :sidebar do -%>  
  <%= link_to "添加服务点",new_venue_path,:id => "create_venue",:class => 'button' %>
<% end %>