<% @title = '提交你的发现'%>
<div class="box">
  <h2><%= @title %> <span>第一次提交先向右看～</span></h2>
  <div class="story_box">
    <p>
      目前新的爱聚正在开发中，提交的问题暂时是需要爱聚团队挑选，然后出来发表到博客上。
      <br/>不过没关系，在新的爱聚网站正式上线的时候，我们会把收集到的问题一起发布到新爱聚上 :)
    </p>
  </div>
  <%= render "form" %>
</div>

<% content_for :sidebar do %>  
  <div class="sidebar_panel">
    <h5>提交前的小提示:</h5>
    <p> 
      什么样的问题才适合在这里提交呢？先了解一下爱聚的几个关于问题的价值观吧。
    </p>
    <p>
      1. 问题是公共的
    </p>
    <p class="explanation"> 
      爱聚鼓励提交公共的有普遍性的问题，这样你的发现才能对别人有价值，因为这些问题和他们有关。
      <br/>
      同时问题不是属于个人的，任何人都可以把问题描述的更简洁更清楚。
    </p>
    <p>
      2. 问题是简单的
    </p>
    <p class="explanation"> 
      直观的、现象明显的问题会更容易被人理解，同时也不容易引起争议，而把大家的注意力从解决问题上移走。
      <br/>
      复杂的经济问题，社会问题，甚至政治问题虽然也和大众有关，但是这类问题往往复杂，涉及的利益方多，并不利于群体智慧的发挥。
    </p>
    <p>
      3. 其实也没有绝对的限制
    </p>
    <p class="explanation"> 
      虽然爱聚仍然期望收集的问题能更“合适”，但爱聚更期待问题的多样性。
      <br/>
      我们并没有严格的标准，我们尽量把大家的发现保留，靠群体的智慧去让更有价值的问题得到关注。
    </p>
  </div>
<% end %>
