
<div id="badgeBoxBg"></div>
<div id="badgeBox" class="floatBox text">
  <div class="dialog_title"><h4>Hi,你得到了新徽章！</h4><span id="close_dialog">关闭</span></div>
  <div class="dialog_content">
    <% current_user.grants.where(:unread => true).map(&:badge).each do |badge|%>
      <h3><%= badge.name%></h3>
      <p><%= badge.intro%></p>
    <% end %>
    <p style="text-align:right">
      <%= button_to_function '确认',"javascript:$('#badgeBox #close_dialog').click()",:class => "button"%>
    </p>
    <div class="clear"></div>
  </div>
</div>


<script type="text/javascript">
  $('#badgeBoxBg').attr('style',("width:100%;height:" + $(document).height() + "px;background-color:#000;filter:alpha(opacity=0.6);opacity:0.6;position:absolute;z-index:4;"))
  $("#badgeBox").attr('style',"display:block;left:" + (($(document).width())/2-(parseInt(570)/2))+"px;top:80px");
  $("#badgeBox #close_dialog").click(function(){
    $("#badgeBoxBg").animate({opacity:"0"},"normal",function(){$(this).hide();});
    $("#badgeBox").animate({opacity:"0"},"normal",function(){$('#get_badges').hide();});
  });
  $("#badgeBoxBg").click(function(){$("#badgeBox #close_dialog").click()})
</script>
