/* Global Setting */

body{
  font: 14px arial;
  background-color:#bcdcff;
  background-image:url('/images/bg_blue.png');
  background-attachment: fixed;
  color:#555;
  word-break:break-all;
  margin:0;
  }

h1{margin:0}
h2{font-size:24px}
h3{font-size:19px}
h4{font-size:15px}

h2,h3,h4,h5,h6{
    margin:0.2em 0 0.4em;
    color:#666;
    }
    
ul,dl{
    margin:6px 0;
    line-height:1.6em;
    padding:0;
    }

li{list-style:none}
    
p{
  line-height:1.6em;
  margin:6px 0;
  }

pre {
  margin:0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height:1.6em;
  margin:5px 0;
  text-align:left;
  } 

span{
  color:#a0a0a0;
  font-size:12px;
  font-weight:normal;
}

select{padding:2px}

a{
  text-decoration:none;
  color:#48b;
  }  

a:hover{color:#f63}

span a{color:#6ad}

b{text-align:right}

input[type="text_field"],input[type="text"],input[type="password"]{
    text-decoration:none;
    border:1px solid #bbb;
    margin:0px;
    padding:2px 4px;
    background-color:white;
    -webkit-border-radius:3px;-moz-border-radius:3px;border-radius: 3px;
    font-size:14px;
    }
    
input[type="checkbox"]{position:relative;top:2px;}
    
textarea{
    display:block;
    text-decoration:none;
    border:1px solid #bbb;
    margin:4px 0;
    padding:2px 4px;
    background-color:white;
    -webkit-border-radius:3px;-moz-border-radius: 3px;border-radius: 3px;
    font-size:13px;
    }

input.blur{color:#bbb}

input:focus{
  background-color:#ffffe0;
  outline:none;
  border:1px solid #fb9;
  color:#666;
  }

img{border:none;}

table{
  border-collapse:separate;
  border-spacing:0;
}

/* Layout Setting */

.container{
    width:940px;
    margin:0 auto;
    clear:both;
    }

#header{
    height:60px;
    overflow:hidden;
    zoom:1;
    }

#content{
  overflow:hidden;
  zoom:1;
  } 
    
#footer{
  height:48px;
  overflow:hidden;
  zoom:1;
  }
    
#main{
  background-color:#fff;
  vertical-align:top;
  width:619px;
  padding:15px 20px;
  border:1px solid #f3f0e6;
  border-right:none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius:5px 0 0 5px;
  *position:relative;
  *right:-1px;
}

#sidebar{
  vertical-align:top;
  background-color:#e4f3fb;
  width:248px;
  padding:15px;
  border:1px solid #e0f0f6;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius:0 5px 5px 0;
  *position:relative;
  *left:-1px;
}


#logo{
  color:#fff;
  margin:8px 0;
  position:absolute;
  display:inline;
  font-size:24px;
  font-weight:bold;
  border:none;
  }

#footer_links{
  width:100%;
  display:block;
  margin:0;
  padding-top:5px;
  text-align:right;
  }

#footer_links li{
  text-decoration:none;
  list-style:none;
  display:inline;
  color:#fff;
  font-weight:normal;
  margin:4px 10px;
}

#nav{
  text-align:right;
  width:680px;
  float:right;
  background-color:#8ad;
  border:1px solid #7f9fcf;
  border-top:none;
  color:#eee;
  padding:0 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
  }
  
#nav a{color:#fff;}

#nav_links{
  overflow:hidden;
  zoom:1;
  margin:0;
  padding:0;
  }

#nav_links li{
  float:left;
}

#nav_links a{
  display:block;
  color:#fff;
  font-size:15px;
  font-weight:bold;
  padding:3px 17px 5px;
  margin:0;
  }

#nav_links a:hover{background-color:#90b0e0;}

#nav_links a.selected{background-color:#96b6e6;}

#search_box{display:inline;position:relative;top:2px;*top:1px;}

#keywords{
  padding:4px;
  height:14px;
  width:160px;
  font-size:13px;
  }

#magnifier{
  display:inline;
  border:0;
  width:16px;
  height:16px;
  position:relative;
  top:1px;
  *top:-4px;
  left:-22px;
  cursor:pointer;
  background:url('/images/icon/search.png');
  }

#status{
  display:inline;
  position:relative;
  top:2px;
  *top:-3px;
  }

/* Elements Setting */
.action_box{width:280px;margin:5px 20px 5px 5px;float:left}

.action_cover{
  padding:3px;
  -webkit-border-radius:3px;-moz-border-radius: 3px;border-radius: 3px;
  background-color:#ccc;
  }

.clear{clear:both}

.box{
    clear:both;
    overflow:hidden;
    zoom:1;
    margin:8px 0 22px;
}

.icon{
  position:relative;
  top:3px;
  }

.gary_button{
    text-align:center;
    margin:0 6px;
    color:white;
    font-size:14px;
    line-height:14px;
    font-weight:bold;
    font-family:sans-serif;
    background-color:#bbb;
    border:1px solid #aaa;
    padding:3px 14px;
    -webkit-border-radius:3px;-moz-border-radius: 3px;border-radius: 3px;
    cursor:pointer;
}
.gary_button:hover{color:#fff;background-color:#ff8f00;border:1px solid #ee7f00}

.embed_number_wrapper{
  position:absolute;
  text-align:right;
  width:55px;
  margin-top:36px;
  }

a.plan_embed_number{
  color:#fff;
  background-color:#e75;
  padding:2px 4px;
  font-size:10px
  }

a.record_embed_number{
  color:#fff;
  background-color:#4c4;
  padding:2px 4px;
  font-size:10px
  }


button,.button{
    text-align:center;
    margin-right:6px;
    color:white;
    font-size:14px;
    line-height:14px;
    font-weight:bold;
    font-family:sans-serif;
    background-color:#ff8f00;
    padding:3px 12px;
    -padding:4px 12px 2px;
    -webkit-border-radius:3px;-moz-border-radius: 3px;border-radius: 3px;
    cursor:pointer;
    border:none
}

.big_button{
    text-align:center;
    margin:5px;
    color:white;
    font-size:17px;
    font-family:sans-serif;
    font-weight:bold;
    background-color:#ffbf44;
    padding:8px 24px;
    border:none;
    -webkit-border-radius:6px;-moz-border-radius:6px;border-radius: 6px;
    cursor:pointer;
    line-height:42px
}

.see_all_link{float:right;font-size:12px;margin-top:4px}

button:hover,.button:hover{background-color:#ff9f10;color:white;}

.big_button:hover{background:#ff9f10;color:white;}

.dialog_rightbar{
  float:right;
  width:180px;
  padding:10px;
}
.dialog_leftbar{
  float:left;
  width:235px;
  border-right:1px dashed #999;
  padding:0 30px 0 10px;
  margin:10px 0;
}

.explanation{
  color:#777;
  margin-bottom:4px;
  font-size:12px;
  line-height:18px;
  font-weight:normal;
  display:block;
  }

.error{
  display:block;
  background-color:#d64;
  color:#ffffff;
  padding:4px 10px;
}

.photo_detail{
  color:#888;
  font-size:12px;
  font-weight:normal;
  width:400px;
  }

.keyword{color:#c53}

.timeline_footer{
  text-align:center;
  clear:both;
  display:block;
  padding:4px 0;
  color:#666;
  margin:8px 0;
}

#sidebar .more_timeline{text-align:right;font-size:12px;}

.field_with_errors{
  display:inline;
  }

.field_with_errors input,.field_with_errors textarea{
  border-color:#f66;
  background-color:#fee;
  display:inline;
  }

.actions_counter{
  float:left;
  color:#999;
  width:74px;
  margin-bottom:3px;
  }

.cutline{padding:6px 10px;float:left;overflow:hidden;margin-top:-8px}
.cutline img{position:relative;top:4px}

.pagination{margin:10px;text-align:center}    
.pagination span{font-size:14px}
.pagination em{font-style:normal;color:#bbb}



/* Items Setting */

.user{
    float:left;
    width:62px;
    height:84px;
    padding-top:6px;
    text-align:center;
    }

.user_avatar{
    width:48px;
    height:48px;
    overflow:hidden;
    }

.badge{
    float:left;
    width:62px;
    height:72px;
    text-align:center;
    }

.badge_cover{
    margin-top:6px;
    width:56px;
    height:56px;
    overflow:hidden;
    }

.thumb_avatar{
    width:36px;
    height:36px;
    overflow:hidden;
    }
    
.record_counter_wrapper{
  float:left;
  width:72px;
  height:30px;
  text-align:center;
  margin:0 4px;
}

.info{line-height:22px;color:#aaa;font-size:13px;}

#record_counters h4{color:#39c}

.record_counter{
  background-color:#39c;
  color:white;
  -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
  padding:10px 0;
  font-weight:normal;
  margin:4px 0 0;
  } 

.sidebar_panel{
  padding:10px;
  background-color:#fff;
  margin:0px 5px 15px;
  font-size:12px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow:hidden;
  zoom:1
  }

.bubble{
  float:left;
  width:500px;
  background-color:#e6e6f0;
  color:#505050;
  -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
  padding:15px 20px 15px;
  list-style:none;    
  margin-bottom:8px;
  overflow:hidden;
  zoom:1;
}

.bubble_tail{
  float:left;
  background:url('/images/bubble_tail.png') no-repeat;
  width:8px;
  height:72px;
}

.sidebar_bubble_tail{
  background:url('/images/sidebar_bubble_tail.png') no-repeat;
  width:36px;
  height:8px;
}

.bubble_colon_left{
  font-family:'times new roman';
  color:#999;
  text-align:left;
  margin-bottom:-15px;
  margin-left:-20px;
  font-size:30px;
  }


.bubble_colon_right{
  font-family:'times new roman';
  color:#999;
  text-align:right;
  margin-top:-15px;
  margin-right:-20px;
  font-size:30px;
  }

.sidebar_bubble{
  width:220px;
  background-color:#fff;
  -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
  padding:15px;
  list-style:none;
  overflow:hidden;
  zoom:1;
}

.reply_bubble{
  padding:0 15px;
  background-color:#fff6d9;
  overflow:hidden;
  border:1px solid #ecb;
  -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
  }

.submit{display:none}

.impact{
  margin:4px 0;
  font-weight:bold;
  font-size:16px;
  line-height:1.8em;
  }
  
.comment{
  float:left;
}

.comment pre{
    width:490px;
    display:block;
    background-color:#e6e6f0;
    color:#505050;
    -moz-border-radius: 6px;
    border-radius: 6px;
    min-height:20px;
    font-size:13px;
    padding:15px 20px;
}

.event_box{
  padding:8px 6px;
  border-bottom:1px dashed #ccc;
  overflow:hidden;
  zoom:1;
  }

.event_box.hover{background-color:#f9f9f9}

.event {
  width:518px;
  margin-left:86px;
  _margin-left:40px;
  padding:6px 0;
  } 
    
.event_link{color:#777}

.event_info{float:left}

.event_info span{margin-right:2px}

.event_action{
  margin-left:240px;
  *margin-left:230px;
  width:280px;
  text-align:right;
  font-size:12px;
  color:#aaa;
  position:relative;
  top:2px
}

.comment{margin:0;width:520px}

.reply{font-size:12px;border-bottom:1px dashed #d6d6d6;text-align:left}
.reply_reply{float:right}
.reply_tail{position:relative;top:4px;right:20px;}
.replys{text-align:right}

.photo_box{
  float:left;
  width:103px;
  height:90px;
  margin-top:10px;
  text-align:center;
  }
  
.photo{margin-bottom:2px;width:90px;height:64px}

.zoomed_photo{display:none;width:360px;background:url('/images/icon/waiting.gif') no-repeat}

.photo_box form{display:inline}

input.todo:hover{
    color:white;
    background:#c30;
    border:4px solid #f63;
    }

.avatar{
  float:left;
  padding:10px 4px 0px;
  width:70px;
  text-align:center;
}

.reply .avatar{width:50px;}

.venue{
  float:left;
  width:70px;
  padding:10px 4px 0;
  text-align:center;
}

.venue img{
  background-color:#fff;
  border:1px solid #ccc;
  padding:1px;
  height:52px;
  width:52px
  }

.venue_cover{
  width:100px;
  height:100px;
  float:left;
}

.venue_thumb_cover{
  width:48px;
  height:48px;
  }

.venue_thumb_box{float:left;padding:4px 0 10px}

.setting_box,.profile_box,.intro_box{
  padding:15px 20px 10px;
  margin:10px 0 20px;
  clear:both;
  border-bottom:2px solid;
  border-top:2px solid;
  overflow:hidden;
  zoom:1;
  }

.setting_box{
  background-color:#eef;
  border-color:#ddf;
  }

.topic_title{padding-top:5px;}

.intro_box{
  background-color:#dfd;
  border-color:#cec;}

.profile_box{
  background-color:#ffc;
  border-color:#fea;
  }

.timeago{display:none}

.with_calendar{width:77px}

.tag_info{
  float:left;
  width:280px;
  height:80px;
  margin:6px 24px 6px 2px;
  }

a.tag_name{
  background-color:#8ad;
  padding: 2px 8px;
  margin: 0px 8px 2px 0;	
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color:#fff;
  font-size:14px;
  }

.tag_list{display:inline;width:86px}
.tag_label{float:left;margin-top:4px}

.tag_cloud{
  margin:0;
  padding: 0;
  float:left;
  }

.tag_cloud li{
  float:left;
  background-color:#acf;
  list-style-type: none;
  padding: 2px 6px 4px;
  margin: 3px 8px 0 0;	
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color:#fff;
  font-size:13px;
  line-height:13px;
  }

.tag_cloud li a{color:#fff;}
  
.tag_cloud li img{
  margin-bottom:-1px;
  cursor: pointer;
  }
  
.tag_cloud li:hover,a.tag_name:hover{
  background-color: #ff9933;
  }

.filter{color:#6ad;}

#category_list ul{overflow:hidden}
#cutline_list li{font-size:13px;}

#notices a{margin:4px}

#error_explanation{
  text-align:left;
  width:580px;
  padding:2px 20px;
  background-color:#e75;
  -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
  }

#error_explanation li{
  list-style:none;
  color:#fff
}

#map_canvas,#sidebar_map_canvas{
  width:99%;
  background:#d0d0d0;
  border:1px solid #bbb;
}

#record_counters{float:right;height:74px;margin-right:4px}

#dialog_flash{display:none}

#feedback{
  display:block;
  background-color:#68c;
  padding:14px 2px;
  border:1px solid #57b;
  line-height:18px;
  font-size:15px;
  position:fixed;
  _position:absolute;
  top:200px;
  left:-2px;
  color:#fff;
  }
  
#feedback:hover{left:0;background-color:#68e;}

#get_badges{
  position:absolute;
  width:100%;
  }

.tabContents{display:none}

#tabNav{
  border-bottom:1px solid #c0c0c0;
  height:28px;
  display:block;
  margin:0;
}

#tabNav li{
  float:left;
  display:block;
  list-style:none;
  margin:0 3px;
}

#tabNav li a{
  background:#ddd;
  color:#888;
  font-size:13px;
  display:block;
  height:26px;
  line-height:27px;
  padding:0 8px;
  position:relative;
  top:1px;
  text-align:center;
  width:70px;
  border:1px solid #bbb;
  border-bottom:none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius: 5px 5px 0 0;
}

#tabNav li a:hover{
  background:#f3f3f3;
  border-color:#bbb;
}

#tabNav li a.active{
  border-top:1px solid #bbb;
  border-left:1px solid #bbb;
  border-right:1px solid #bbb;
  border-bottom:1px solid #fff;
  background:#fff;  
  color:#555;
}