.venue_form{
  background-color:#e0e0e0;
  padding:5px 15px 10px;
  line-height:26px;
  font-size:13px;
  -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
  display:none
  }

.venue_form input[type="submit"]{
  float:right;
  position:relative;
  top:15px;
  left:15px;
  }

#venue_intro{
  padding:15px;
  background-color:#f9ffff;
  border:1px solid #cdd;
  margin-bottom:24px;
  }

#venue_head{
  background:url('/images/background/buildings.jpg') #e9eded no-repeat right top;
  padding:4px 4px 0;
  clear:both;
  overflow:hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  }
  
#venue_forms{
  padding:8px 15px 3px;
  background-color:#f3f3f3;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius:0 0 6px 6px;}
  }
  
#formContaier{display:none}
#formContaier form{display:none}

#formContaier textarea{
  margin:4px 0;
  width:550px;
  height:64px;
  }

#formTabs{
  width:480px;
  padding:0 8px;
  margin:0;
  height:30px;
}

#formTabs li{
  float:left;
  display:block;
  list-style:none;
  margin:0 3px;
}

#formTabs li a{
  padding:6px 8px;
  color:#888;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px
}

#formTabs li a.active{
  background:#e0e0e0;
  border-color:#bbb;
}