<div style="padding:10px 4px;border-bottom:1px dashed #ccc;">
    <%= link_to question.title,question_path(question)%>
    <span>
    <% if question.answers_count.zero? %>
      还没有人回答。
    <% else%>
      有<%= question.answers_count %>个回答。
    <% end %>
    </span>
  <div style="margin-top:3px;">
    <span>来自 <%= link_to question.user.login,question.user %> 的提问 </span>
    <span class="timeago"><%= question.created_at %></span>
  </div>
</div>