<h3>所有行动：</h3>
<% @actions.each do |action|%>
  <div class="action_box">
    <div style="width:200px;float:right">
      <span style="float:right;position:relative;top:3px"><%= action.follows_count %> 人收藏</span>
      <h4><%= link_to action.name,action_path(action)%> </h4>
      <pre class="explanation"><%= short_text(action.intro,36)%></pre>
    </div>
    <%= link_to(image_tag(action.cover.url(),:title => action.name,:class=>"action_cover"),action_path(action),:alt => action.name,:class => "action",'data-action-id' => action.id)%>
  </div>
<% end %>