<% @title = @action.name%>
<div class="box">
  <%= image_tag(@action.cover.url,:style=>'float:left;margin:5px')%>
  <div style="margin-left:80px;">
    <h2><%= @action.name%></h2>
  </div>
</div>

<div class="box">
  
</div>

<div class="box">
  <%= image_tag(@action.cover.url,:style=>'float:left;margin:5px')%>
  <div style="margin-left:80px;">
  <h2><%= @action.name%></h2>
  </div>
</div>