  <div class="event_type" title=''></div>
  <div class="event_box">
    <%= render :partial => '/public/user', :object => user ,:locals => {:without_name => true}%>
    <div class="event">
      <div class="event_panel">
        
      </div>
      <h4>
        <%= link_to user.login,user %> <span><%= user.signature%></span>
      </h4>
      
      <span>
          <%=raw "最新行动: #{link_to user.latest_update.description,user.latest_update}" if user.latest_update.present?%>
      </span>
      
    </div>
  </div>
