<div class="box">
  <h3><%= @title %></h3>
  <%= render :partial => "/public/item",:collection => @items%>
  <%= will_paginate @items %>
</div>

<% content_for :sidebar do %>  
  <%= render :partial => "info" %>
<% end %>