<h2>注册成功啦，欢迎你加入爱聚 :)</h2>
<div class="box">
  <p>爱聚是一个创造的记录行动的平台，在这里你可以把行动带给世界。</p>
  <p>我们鼓励新成员去设置自己的档案，这样爱聚就可以给你更加人性化的服务，你的行动也会得道更好的传播去影响更多的人。</p>
  <br/>
  <br/>
  <div style="text-align:right">
    <%= link_to '去设置', setting_url,:class => 'button'%>
    <%= link_to '跳过', "#",:class => 'button',:onclick => "javascript:$('.dialog_title span').click();return false"%>
  </div>
</div>