    <p class="impact">
      <%="#{@title}"%>
    </p>
    <div class="info">
      贡献时间：<%= @record.time %> <span>(小时)</span> 　行动日期：<%= @record.done_at.to_date %>
    </div>
    <pre class="explanation"><%= @record.detail %></pre>
    