    <p class="impact"><%= "#{@plan.task.title}" %></p>
    <div class="info">
      物资数量：<%= @plan.task.total_goods %>
      <br/>
      邮寄地址：<%= @plan.task.address %>
      <br/>
      联系方式：<%= @plan.task.contact %>
    </div>
    