    <p class="impact"><%= "#{@plan.calling.title}" %></p>
    <div class="info">
      物资数量：<%= @plan.calling.total_goods %>
      <br/>
      邮寄地址：<%= @plan.calling.address %>
      <br/>
      联系方式：<%= @plan.calling.contact %>
    </div>
    