    <p class="impact"><%= "#{@plan.task.title}" %></p>
    <div class="info">
      行动日期：<%= @plan.task.do_at.to_date %>
      <br/>
      集合地址：<%= @plan.task.address %>
      <br/>
      联系方式：<%= @plan.task.contact %>
    </div>
