<div class="intro_box">
  <h4>记录做过的公益行动</h4>
  <p class="explanation">公益需要被记录和传播，记录下自己做过的事情..balabala</p>
</div>
  
<div class="box">
  <h4>你要记录的行动属于哪种类型？</h4>
  <p>
    <% @actions.each do |a| %>
      <%= link_to(a.name,"#{new_record_path()}?action_id=#{a.id}",:class => "action_button") %>
    <% end %>
  </p>
</div>
  
