<% @venue = @record.venue %>
<h3>你为<%= @venue.name %>做了什么？</h3>
<p>
  <% @actions.each do |a| %>
    <%= link_to(a.name,"#{new_record_path()}?venue_id=#{@venue.id}&action_id=#{a.id}",:class => "action_button") %>
  <% end %>
</p>