<div class="venue">
  <%= link_to image_tag(venue.cover.url(:_48x48),:class => "venue_thumb_cover",:alt => venue.name),venue,:title => venue.name %>
  <% if defined?(with_name)%>
  <div style="height:36px">
    <span><%= link_to short_text(venue.name,10),venue_path(venue) %></span>
  </div>
  <% end %>
</div>
