<div class="explanation">
  <h3>发现和添加你的聚点</h3>
  <p>
    爱聚可以让你为自己关注的线下地点，如乡村、学校、街道、城市等建立网上的小社区，这些网上社区我们称之为“聚点”。
  </p>
  <p>
    你可以自由地在爱聚上添加新的聚点，也可以搜索和关注已有的聚点。
  </p>
  <p>
    在完成添加和关注后，你可以在你的聚点中提交更多信息，发起和参与各种行动，让聚点变得更丰富、更真实、更美好。
  </p>
</div>