<div id="tabContaier">
  <ul>
    <% @categories.each do |k,v|%>
      <li><%= link_to v,"#venues_category_#{k}"%></li>
    <% end %>
  </ul>
  <% @categories.each do |k,v|%>
    <div id='<%= "venues_category_#{k}"%>' class="tabContents">      
      <%= render :partial => '/public/event', :collection => @venues_hash[v.to_sym] %>
    </div>
  <% end %>
</div>