<h2>你要号召大家为<%= @venue.name %>做什么？</h2>
<p>
  <% @actions.each do |a| %>
    <%= link_to(a.name,"#{new_calling_path()}?venue_id=#{@venue.id}&action_id=#{a.id}",:class => "action_button") %>
  <% end %>
</p>
<div class="clear"></div>
