
#use random

development:
  google_analytics_id: 
  secret_token: 
  rest_auth_site_key:
    
test:
  google_analytics_id: 
  secret_token: 
  rest_auth_site_key:   

production:
  google_analytics_id:
  secret_token: 
  rest_auth_site_key: 