<% @title = "标签：#{@tag.name}"%>
<div class="box">
  <h2 style="background-color:#89d;color:#fff;margin:5px 0;padding:4px 16px;-moz-border-radius:5px;-webkit-border-radius:5px;display:inline;line-height:38px;}"><%= @tag.name%></h2>
</div>

<% unless @timeline.blank?%>
  <div class="box">
    <h4>带有“<%= @tag.name%>”标签的内容：</h4>
    <%= render :partial => '/public/event',:collection => @timeline%>
  </div>
<% end %>