<% @title = "标签：#{@tag.name}"%>
<div class="box">
  <h2 style="background-color: #ccc;margin:5px 0;padding:3px 12px;-moz-border-radius:5px;-webkit-border-radius:5px;display:inline;line-height:38px;}"><%= @tag.name%></h2><span></span>
  带有“<%= @tag.name%>”标签的<%= @filter_name%>
</div>
<%= render :partial => '/public/event',:collection => @timeline%>