<% @feedbacks.each do |feedback|%>
  <div style="border-bottom:1px dashed #999;padding:10px;margin-bottom:10px">
    <p><%= feedback.text %></p>
    <span><%= feedback.email %> @<%= format_date feedback.created_at %></span>
  </div>
<% end %>