<% @title ='关于'%>
<div class="box">
  <h4>关于爱聚</h4>
  <p>爱聚就是你所看到的这个网站，她的背后有个小小的团队(也就是下文的"我们")在负责它的运营。</p>
  <p>我们建立爱聚这个网站的初衷是为了：推动大众参与公益。</p>
  <p>
    我们不仅仅期望公益的责任不再只集中在少数人身上，同时更期望通过大众的力量让公益做的更大更好。
    我们相信互联网是达到这个目标的最佳工具，这也是我们对目前所做的事情抱有激情的原因 :)
  </p>
  <p>爱聚的方向是通过公共问题，把共同关注的人连接起来，以群体智慧和行动力，创造性的解决问题。</p>
</div>
<div class="box">
  <h4>爱聚的价值观 <span>ver.1</span></h4>
  <p>
  <ul>
    <li>1. 普通人也可以改变世界。</li>
    <li>2. 每个人都应该关注身边的公共问题，因为这和我们每个人都是相关的。</li>
    <li>3. 要使用创新的方式有效省力地解决问题。</li>
    <li>4. 解决问题从简单的开始，在逐步的深入下去。</li>
    <li>5. 不把注意力放在责任的追究上，我们的目的是解决问题。</li>
  </ul>
  </p>
</div>
