<div class="box">
  <h2>关于爱聚</h2>
  <p>爱聚是一个公益行动和分享网站，我们帮助你轻松地参与公益，分享行动，改变世界。</p>
  <p>说起公益，你是否知道，大部分需要服务的社区和人群并没有得到人们的关注？你又是否知道，也许大部分人都希望为世界做点什么，但实际只有少数人可以持续参与？</p>
  <p>相信每个人都认为这个世界需要改变，但你会不会同时也觉得，改变离自己太遥远，采取行动太困难？</p>
  <p>这是我们每个人的困境。我们也带着以上问题去思考，并慢慢形成了以下三个观点：</p>
</div>

<div class="box">
  <h3>1、公益 = 公共利益</h3>
  <div style="padding:0 5px">
    <p>对公益的理解应超越传统的仅限于对弱势人群的服务，而涵盖更广泛的公共利益，包括公共表达、公共记录、公共文化建设以及个人的社会行为（如消费）等。唯有这样，公益才能与我们的日常生活接轨，成为和我们生活息息相关的一部分。</p>
  </div>
</div>
  
<div class="box">  
  <h3>2、公益的基本单元是行动</h3>
  <div style="padding:0 5px">
    <p>公益的基本单元不是项目，不是活动，而是一个个独立的个体行动。只有当行动可以轻易被每个人所采用，人们才不需要象以前那样等待某个组织者的出现，公益的参与面才有可能真正扩大。</p>
    <p>同时，行动作为基本单元，它必须可分享，可以连结到更多个人。只有这样，一个人的行动才能带来更多人的行动，个体行动才有可能自下而上地连结成一个行动网络，持续地改变世界。</p>
    <p>独立的个人，有效的协作，这就是我们对公益行动的理解。</p>
  </div>
</div>

<div class="box">
  <h3>3、人通过行动建立与世界的联系</h3>
  <div style="padding:0 5px">
    <p>行动不单是行动本身，不单是自我爱心的满足。通过行动，我们可以建立与世界的联系，并成为它的粉丝。</p>
    <p>成为粉丝的个人，会变得有独创性和主动性，他会自动自发地为其所关注的世界采取更多有创意的行动。他也会变得更加开放，乐于分享，乐于连结有同样热情的人，群策群力地为改变世界而行动。</p>
  </div>
</div>
  
<div class="box">
  <p>以上就是我们对公益的理解，我们发现，要把这些理解变成现实，只有自己动手。于是，就有了现在的爱聚网站。<p>
  <p>在爱聚，行动变得很简单，每个人的行动可以被联结起来，同时，所有的行动都可以被有效的记录和统计。</p>
  <p>在爱聚，我们一起改变世界。</p>
</div>

<style type="text/css">
  h3{color:#333;font-weight:normal}
  p{margin:20px 0}
</style>