  <%= render :partial => '/public/event', :collection => @city_timeline %>
  
  <p style="margin:0;padding:6px 10px">
    <%= raw "哦，你还没有设置自己所在的城市，快去 #{link_to '设置',setting_path} 吧。" if @geo.nil? %>
    <%= raw "你的城市(#{@geo.name})还没有什么新消息。" if @geo.present? && @city_timeline.empty? %>
  </p>