<% @title = '常见问题'%>
<div class="box">
  <h3>常见问题正在收集中</h3>
  <p>
    你可以立即 <%= link_to '反馈',new_feedback_path,:class=> "open_dialog",:title => "反馈"%>
    告诉我们你的疑问。
    <br/>
    你的问题很可能也是别人的问题，提出问题帮助自己也帮助大家。
  </p>
</div>
