<div style="padding:20px">
  <div class="box">
    <h2 style="font-weight:normal;font-size:22px">四步改变世界！</h2>
    <p style="padding-right:30px">你是否觉得一个人的行动太孤独，声音太细微，力量太弱小？在爱聚，你可以把行动分享给朋友，让每个人的小小力量聚集起来，变成改变世界的大力量。而这，只需要简单的四个步骤：</p>
  </div>
    
  <div class="box">
    <h3><span style="color:#006699;font-size:48px;font-weight:normal">1.</span>　发现你的聚点</h3>
    <%= image_tag "/images/guide_1.png",:style => "margin:4px 10px 10px 34px;float:right"%>
    <p>聚点是一个你关注的地点，可能是一所学校、一个村庄、一个自然保护区、一个公共设施、或者是你所生活的小区。在爱聚网站，你可以通过地图搜索并关注感兴趣的聚点。关注聚点后你可以接收到聚点行动和新闻的更新。</p>
    <p>如果没有搜索到你熟悉的聚点，你可以添加它。</p>
  </div>
  
  <div class="box">
    <h3><span style="color:#006699;font-size:48px;font-weight:normal">2.</span>　发起或参与行动</h3>
    <%= image_tag "/images/guide_2.png",:style => "margin:4px 10px 10px 30px;float:right"%>
    <p>你可以为你关注的聚点发起行动，征集更多人一起行动。你也可以加入到朋友的行动中，和他们一起改变世界。整个过程简单到只需要鼠标的几个点击。</p>
    <p>我们将会不断开发更多的行动方式，让你的选择更多元，行动更有效。</p>
  </div>
  
  <div class="box">
    <h3><span style="color:#006699;font-size:48px;font-weight:normal">3.</span>　把行动分享给朋友</h3>
    <%= image_tag "/images/guide_3.png",:style => "margin:0 10px 10px 34px;float:right"%>
    <p>在发起或参与行动后，请立即将你的行动同步到你的社区网络（目前支持豆瓣和新浪微博同步）。你的好友会跟随你的脚步而参与行动，并且，他们也会将行动传播给他们的好友，这样，了解和参与行动的人就会越来越多。</p>
  </div>
  
  <div class="box">
    <h3><span style="color:#006699;font-size:48px;font-weight:normal">4.</span>　享受改变的成果</h3>
    <%= image_tag "/images/guide_4.png",:style => "margin:4px 10px 10px 30px;float:right"%>
    <p>你完成的每一个行动，都会自动记录在你的个人信息和聚点信息里。你可以一目了然地看到你服务了多少聚点、参与了多少个行动、贡献了多少小时的志愿服务、捐赠了多少物资、带动了多少人参与等。</p>
    <p>爱聚，将成为你个人的公益档案。</p>
  </div>
</div>

<style type="text/css">
h3{color:#333;font-weight:normal}
p{margin:20px 0}
</style>