  <%= render :partial => '/public/event', :collection => @my_timeline %>
  
  <p style="border-bottom:1px dashed #ccc;padding-bottom:4px;">
    <span>
    <% if @my_followings.empty? %>
      <%= "你还没有关注过任何聚点和用户。去关注你的朋友、还有你身边的聚点吧。"  %>
    <% else %>
      <%= "你关注#{current_user.followed_venues.size}个聚点和#{current_user.followed_users.size}个用户"%>
      <%= "还没有新信息。" if @my_timeline.empty? %>
    <% end %>
    
    </span>
  </p>
  
  <script type="text/javascript">
    $(".event_box").hover(
      function () {
        $(this).addClass("hover");
      },
      function () {
        $(this).removeClass("hover");
      }
    );
  </script>
