  <%= render :partial => '/public/event', :collection => @my_timeline %>
  
  <p style="margin:0;padding:6px 10px">
    <% if @my_followings.empty? %>
      <%= "你还没有关注过任何聚点和用户。去关注你的朋友、还有你身边的聚点吧。"  %>
    <% else %>
      <%= "还没有新消息。" if @my_timeline.empty? %>
    <% end %>
  </p>