<% if @callings.present? %>  
  <div class="box">
    <h4>以下召集有了新留言：<h4>
    <%= render :partial => "/public/calling" ,:collection => @callings %>
  </div>
<% end %>

<% if @topics.present? %>  
  <div class="box">
    <h4>以下话题有了新留言：<h4>
    <%= render :partial => "/public/topic" ,:collection => @topics %>
  </div>
<% end %>

<% if @records.present? %>  
  <div class="box">
    <h4>以下行动记录有了新留言:<h4>
    <%= render :partial => "/public/record" ,:collection => @records %>
  </div>
<% end %>