<div class='box'>
  <h4>1 网站正常字体：</h4>
  <span>[全站内容的初始设置，用于所有没有使用目的情况]</span>
  <br/><span>14px/1.2 arial #444</span>
  <br/>
  <br/>文字实例文字实例文字实例文字实例文字实例文字实例
  <br/>文字实例文字实例文字实例文字实例文字实例文字实例
</div>

<div class='box'>
  <h4>2 正文：</h4>
  <span>[用于网站上条目信息的主体，如文章、回复正文]</span>
  <br/><span>14px/1.6 上下外边距 6px</span>
  <p>
  段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1
  <br/>段落1段落1段落1段落1段落1段落1段落1段落1段落1
  </p>
  <p>
  段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2
  <br/>段落2段落2段落2段落2段落2段落2段落2段落2段落2
  </p>
</div>

<div class='box'>
  <h4>3 标题：</h4>
  <span>外边距：.1em 0 .2em</span>

  <h2>整页标题</h2>
  <span>[用于页面醒目说明]： 22px bold</span>
  <h4>内容标题</h4>
  <span>[h4 用于说明块结构内容]： 15px bold</span>
  <h5>侧栏内容标题</h5>
  <span>[h5 用于说明侧栏的块结构内容]： 13px bold #888</span>
</div>

<div class='box'>
  <h4>4 次要信息：</h4>
  <span>[用于注释内容、条目的：操作，时间，数据等 span .explanation]</span>
  <br/><span>12px #999 (12px/1.4 用于段落)</span>
  <br/>
  <span>
    <br/>文字实例文字实例文字实例文字实例文字实例文字实例
    <br/>文字实例文字实例文字实例文字实例文字实例文字实例
  </span>
  <br/>
  <div class="explanation">
    <br/>段落实例段落实例段落实例段落实例段落实例段落实例段落实例
    <br/>段落实例段落实例段落实例段落实例段落实例段落实例段落实例
  </div>
</div>

<div class='box'>
  <h4>5 块结构</h4>
  <span>[用于网站上不同类型内容的区分,除布局元素外所有内容都应该在块元素里]</span>
  <br/><span>外边距： 8px 0 22px</span>
  <div class="box" style="background-color:#ddd">
    块结构1
    <br/>块结构1
    <br/>块结构1
  </div>
  <div class="box" style="background-color:#ddd">
    块结构2
    <br/>块结构2
  </div>
</div>

<div class='box'>
  <h4>6 链接:</h4>
  <a href="#">正常链接</a>
  <span><br/>颜色： #38c </span>
  <h4><a href="#">作为标题链接</a></h4>
  <span>颜色： #16a <br/></span>
  <span><a href="#">次要信息的链接</a></span>
  <span><br/> => 颜色： #5ad</span>
  <br/>除了按钮型连接外所有连接在hover后，有下划线效果
</div>

<div class='box'>
  <h4>7 按钮<h4>
  <span>[用于网站上重要的交互动作，确定关注的等]</span>
  <br/>
  <button href="#">正常按钮</button>
  <br/>
  <a href="#" class="gary_button">灰色按钮</a>
</div>
