<div style="text-align:right;">
  <%= link_to(raw("#{image_tag('/images/icon/upgrey.png',:class=>'icon')} 有帮助 #{@solution.votes_count}"),votes_path(:voteable_id => @solution.id,:voteable_type => @solution.class.to_s,:back_path => request.fullpath), :remote => (true if logged_in?),:method => :post,:id => "solution_vote_#{@solution.id}",:class => 'vote', :title => '有帮助') %>
</div>