<div class="event_type" title='calling'></div>
<div class="event_box">
  <%= render :partial => '/public/user', :object => calling.user %>
  <div class="event">
    <div class="event_panel">
    </div>
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
          <%= link_to "#{calling.user.login}#{calling.description}",calling,:class => 'event_link'%>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
    </p>
    <div class="addition">
      <span>
        <%= calling.status %>
        <%= image_tag '/images/icon/photo.gif',:class => "icon",:alt => '有照片哦' if calling.has_photo%>
      </span>
    </div>
  </div>
</div>