<div class="event_box">  
    <%= render :partial => '/users/user',:object => comment.user %>
    <div class="comment">
      <p>
        <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
        <%= comment.content %>
        <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
      </p>
      <span>#<%= comment_counter +1%> at <%= format_date(comment.created_at) %></span>
    </div>
    <div class="saying_tail"></div>
    
    
</div>