<div class="event_box">  
  <%= render :partial => '/public/user',:object => plan.user %>
  <div class="event">
    <div class="event_panel">
      <%= link_to '了解更多' ,requirement_plan_path(plan.requirement,plan) %> &raquo; 
    </div>
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
      <%= "#{plan.user.login}要#{plan.description}" %>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
    </p>
    <div class="addition">
      
    </div>
  </div>
</div>