<div class="event_box">  
  <%= render :partial => '/public/user',:object => plan.user %>
  <div class="event">
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
      <%= link_to "#{plan.user.login}要#{plan.description}",requirement_plan_path(plan.requirement,plan) %>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
    </p>
    <div class="addition">
      <span><%= raw who_at_where(plan.user,plan.venue)%></span>
    </div>
  </div>
</div>