<div class="event_box">
  <%= render :partial => '/public/user', :object => record.user %>
  <div class="event">
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
      <%= link_to "#{record.user.login}在#{format_date(record.do_at)}为#{record.venue.name}#{record.action.name}:#{record_description(record) }",record%>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
    </p>
    <div class="addition">
      <span><%= raw who_at_where(record.user,record.venue)%></span>
    </div>
  </div>
</div>