<div class="event_type" title='record'></div>
<div class="event_box">
  <%= render :partial => '/public/user', :object => record.user %>
  <div class="event">
    <div class="event_panel">

    </div>
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
      <%= "#{record.user.login}#{record.description}",record,:class=>'event_link'%>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
    </p>
    <div class="addition">
      
    </div>
  </div>
</div>