  <div class="solution">
    <b><%= link_to solution.title,solution_path(solution)%></b>
      <p class="explanation"><%= short_text(solution.content, 200)%>（<%= link_to "#{solution.comments.count}回应", "#{solution_path(solution)}#comments"%>）</p>
  </div>
