<% venue = venue || task.venue %>
<% user = user || task.user %>

<div class="event_box">
  <div class="task">
    <%= image_tag(task.cover.url(:_56x56))%>
  </div>
  <div class="event">
   <p><b><%= link_to task.title, task %></b></p>
   <span><%= "#{task.status}"%></span>
  </div>
</div>
